.Chat {
  height: 93vh;
}

.ConversationListWrapper {
  border-left: 2px solid #e9ebfa;
  border-right: 2px solid #e9ebfa;
}

.ConversationWrapper {
  height:80vh;
  overflow: auto;
}

.TextAreaWrapper {
  height: 13.2vh;
  border: 2px solid #e9ebfa;
}

.TextAreaWrapper textarea {
  resize: none;
  border: 1px solid #f9f9f9;
  background-color: #f4efef;
  color: #5b5e63;
  outline: none;
}

.TextAreaWrapper button {
  font-size: 2rem;
  color: #3082ff;

}