.Chat {
  height: 93vh;
}

.ConversationListWrapper, .ContactsListWrapper {
  border-left: 2px solid #e9ebfa;
  border-right: 2px solid #e9ebfa;
}

.ConversationWrapper {
  height:80vh;
  overflow: auto;
}

.ContactsListWrapper.Mobile {
  position: fixed;
  right: 0;
}

@media (min-width: 556px ) and (max-width: 992px){
  .Mobile {
    width: 70vw !important;
  }
}
